<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>128842731376-b6f19b4okeso3apjnq3t4fkg2d72vgsm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.128842731376-b6f19b4okeso3apjnq3t4fkg2d72vgsm</string>
	<key>API_KEY</key>
	<string>AIzaSyCC5KcSOVja-Z7Zw2UZ-C99eT1utFbWR50</string>
	<key>GCM_SENDER_ID</key>
	<string>128842731376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projecta</string>
	<key>PROJECT_ID</key>
	<string>project-a-1e125</string>
	<key>STORAGE_BUCKET</key>
	<string>project-a-1e125.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:128842731376:ios:763fb7730b6023be5709b5</string>
</dict>
</plist>